<%- has_children = collection.subcollections.any? -%>
<li class="<%= has_children ? "hasChildren" : "" %>" id="<%= collection.id %>">
  <%= link_to collection.pref_label.to_s,
          collection_path(:id => collection) %>

  <%- if collection.additional_info -%>
    <span class="additional_info">(<%= collection.additional_info %>)</span>
  <%- end -%>
</li>
