<%- has_children = collection.subcollections.any? -%>
<li class="<%= has_children ? "hasChildren" : "" %>" id="<%= collection.id %>">
  <%= link_to collection.pref_label.to_s,
          collection_path(:id => collection) %>

  <%- if collection.additional_info -%>
    (<%= collection.additional_info %>)
  <%- end -%>

  <%- if has_children -%>
    <ul>
      <li><span class="placeholder">&nbsp;</span></li>
    </ul>
  <%- end -%>
</li>
