<%- has_children = collection.subcollections.any? -%>
<li class="<%= has_children ? "hasChildren" : "" %>" id="<%= collection.id %>">
  <%= link_to collection.label.to_s,
          collection_path(:id => collection, :lang => I18n.locale) %>
  <%- if has_children -%>
    <ul>
      <li><span class="placeholder">&nbsp;</span></li>
    </ul>
  <%- end -%>
</li>
