<h2><%= Collection::Base.model_name.human(:count => 2) %></h2>

<p>
  <%= link_to t("txt.views.collections.new"), new_collection_path(:lang => I18n.locale) %>
</p>

<ul class="hybrid-treeview" data-url="<%= hierarchical_collections_path(:lang => @active_language, :format => :json) %>">
  <%-
    # determine non-orphans (items with a parent)
    children = []
    @collections.each do |collection| # TODO: use #map along with #flatten?
      if collection.subcollections.any?
        children += collection.subcollections
      end
    end
    children.uniq! # TODO: use Set?
    # determine orphans (root-level items)
    orphans = @collections.select {|collection| !children.include?(collection) }
  -%>
  <%= render :partial => 'collection', :collection => orphans %>
</ul>
