<h2><%= Collection::Base.model_name.human(:count => 2) %></h2>

<p>
  <%= link_to t("txt.views.collections.new"), new_collection_path(:lang => I18n.locale) %>
</p>

<%-
  hcpath = hierarchical_collections_path(:lang => @active_language,
      :format => :json)
-%>
<ul class="hybrid-treeview" data-url="<%= hcpath %>">
  <%= render :partial => 'collection', :collection => @collections %>
</ul>
