<h3><%= Iqvoc::Collection.base_class.model_name.human %></h3>

<%= form_for @collection, :as => 'concept', :url => collections_path, :html => { :class => 'form' } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
