<div class="relation-body">
  <fieldset>
    <legend>
      <%= klass.model_name.human(:count => 2) %>
      <%= "(#{t("languages.#{language}", :default => language.to_s)})" if language %>
    </legend>
    <%= text_area_tag "concept[labelings_by_text][#{klass.name.to_relation_name}][#{language}]",
      concept.labelings_by_text(klass.name.to_relation_name, language) %>
  </fieldset>
</div>
