// Colors
$background-color: #fff;

$widget-border-color-dark: #eee;
$widget-background-color-dark: #f5f5f5;
$widget-highlight-color: #d9edf7;
$widget-highlight-background-color: #3a87ad;

$muted-color: #999;

// Dimensions
$border-radius-default: 4px;
