tr.highlightable {
  cursor: pointer;
}

.alert {
  p {
    margin: 0 0 10px 0;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

dl.note_annotations {
  margin-top: 6px;
}

.sorting-controls {
  margin-left: 2px;
}

img.spinner {
  margin-left: -25px;
}

.arrow_down {
  margin-top: 3px;
}

.arrow_up {
  margin-top: 2px;
}

dt {
  margin-top: 10px;
}

.letter-selector {
  $active: white;
  margin: 0;
  li {
    a {
      color: #BFBFBF;
      font-weight: bold;
    }
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 6px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $active;
    }
  }
}
