.navbar {
  .quicksearch {
  }
}

.onebox {
  padding-top: 80px;
  margin-top: 2em;
  text-align: center;

  background: asset-data-url("iqvoc_logo.png") top center no-repeat;

  .logo {
    margin: 2em 0 1em 0;
  }

  input {
    min-width: 60%;
  }

  ol {
    margin-left: 0;
    list-style: none;
    text-align: left;
  }

  .pagination {
    text-align: left;
  }
}

tr.highlightable {
  cursor: pointer;
}

table.dashboard {
  th {
    white-space: nowrap;
  }
}

.alert {
  p {
    margin: 0 0 10px 0;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

.sorting-controls {
  margin-left: 2px;
}

img.spinner {
  margin-left: -25px;
}

.arrow_down {
  margin-top: 3px;
}

.arrow_up {
  margin-top: 2px;
}

dl {
  dt {
    margin-top: 10px;
  }
}

.letter-selector {
  $active: white;
  margin: 0;
  li {
    a {
      color: #BFBFBF;
      font-weight: bold;
    }
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 6px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $active;
    }
  }
}

.translation {
  margin-bottom: 15px;
}

.nav-list {
  li {
    a {
      &.inline-language-selector {
        display: inline;
        margin: inherit;
        padding: inherit;
        &:hover {
          background: inherit;
        }
      }
    }
  }
}

ol.concepts {
  li {
    margin-bottom: 15px;
    p {
      margin: 0;
    }
    p.term {
      a {
        font-weight: bold;
      }
    }
    p.uri {
      color: green;
    }
  }
}
