.navbar {
  .quicksearch {
  }
}

.onebox {
  padding-top: 80px;
  margin-top: 2em;
  text-align: center;

  background: asset-data-url("iqvoc_logo.png") top center no-repeat;

  .logo {
    margin: 2em 0 1em 0;
  }

  input {
    min-width: 60%;
  }

  ol {
    margin-left: 0;
    list-style: none;
    text-align: left;
  }

  .pagination {
    text-align: left;
  }
}

tr.highlightable {
  cursor: pointer;
}

.alert {
  p {
    margin: 0 0 10px 0;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

.sorting-controls {
  margin-left: 2px;
}

img.spinner {
  margin-left: -25px;
}

.arrow_down {
  margin-top: 3px;
}

.arrow_up {
  margin-top: 2px;
}

.letter-selector {
  $active: white;
  margin: 0;
  li {
    a {
      color: #BFBFBF;
      font-weight: bold;
    }
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 6px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $active;
    }
  }
}

.translation {
  margin-bottom: 15px;
}

.nav-list {
  li {
    a {
      &.inline-language-selector {
        display: inline;
        margin: inherit;
        padding: inherit;
        &:hover {
          background: inherit;
        }
      }
    }
  }
}

.concept-items {
  .concept-item {
    margin-bottom: 15px;
    p {
      margin: 0;
    }
    .concept-item-term {
      a {
        font-weight: bold;
      }
    }
    .concept-item-uri {
      color: green;
    }
  }
}

.lang-widget {
  padding: 0 15px 20px 15px;

  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
  label {
    margin: 0;
    padding: 2px 10px;

    input {
      margin-top: -2px;
      margin-right: 0.5em;
      display: inline;
    }

    a {
      padding-left: 0;
      display: inline;
    }
  }
}

.search-result {
  margin-top: 10px;
  a {
    font-weight: bold;
  }
}

.search-result-meta {
  margin-top: 0;
}

.search-result-key {
  float: left;
  margin-right: 5px;
  // font-weight: normal;
  &:after {
    content: ':';
  }
}

.search-result-link {}

.search-result-uri {
  display: block;
  color: green;
}

.search-result-value {}

.search-result-body {
  margin-top: 0;
}
