tr.highlightable {
  cursor: pointer;
}

.alert-error {
  p {
    margin: 0 0 10px 0;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

dl.note_annotations {
  margin-top: 6px;
}

.sorting-controls {
  margin-left: 2px;
}

img.spinner {
  margin-left: -25px;
}
