.entity_select {
  li {
    margin: 3px;
    padding: 5px 8px;
    border: 1px solid #CCD5E4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
//    font-size: 11px;
    color: #000;
    background-color: #EFF2F7;
    width: auto;
  }
  a.remove_entity {
    margin-left: 5px;
    font-weight: bold;
    color: #A6B3CF;
    cursor: pointer;
  }
  img {
    margin-left: -20px; /* move into adjacent INPUT */
  }
  input.qualified {
    width: 5em;
    margin-left: 0.5em;
  }
}

.entity_list { /* contain floats */
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin-top: 5px;
  li {
    float: left;
  }
}

.relation-body .entity_list {
  margin: 0;
  padding: 0;
}

.sections .entity_list li,
.relation-body .entity_list li {
  margin-right: 1em;
}

.sections .entity_list li:after,
.relation-body .entity_list li:after {
  content: ",";
}
.sections .entity_list li:last-child:after,
.relation-body .entity_list li:last-child:after {
  content: "";
}
