ul.jqtree-tree li.jqtree_common {
  background: url('treeview-default-line.gif') 0 0 no-repeat;
  padding-left: 15px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #000;
  height: 1px;
}

ul.jqtree-tree span.jqtree-border {
  border: solid 1px #000;
}
