<% if @datasets.any? %>
  <div class="form-group">
    <%= label_tag 'ds', t('txt.views.search_results.datasets') %>
    <% @datasets.each_with_index do |dataset, idx| %>
      <div class="form-check">
        <%= check_box_tag "ds[]", dataset.name, search_dataset_selected?(dataset.name), class: 'form-check-input', id: "datasets_#{idx}" %>
        <%= label_tag "datasets_#{idx}", dataset.name, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
<% end %>