<div class="form-group row">
  <%= label_tag 'ds', t('txt.views.search_results.language'), class: 'col-auto' %>
  <div class="checkbox-controls col">
    <% @available_languages.sort.each do |lang_tag, label| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag "l[]", lang_tag, search_language_selected?(lang_tag), class: 'form-check-input', id: "languages_#{lang_tag}" %>
        <%= label_tag "languages_#{lang_tag}", lang_tag, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
</div>
