<div class="form-group">
  <%= label_tag 'qt', t('txt.views.search_results.mode'), :class => 'col-sm-2 control-label' %>
  <div class="col-sm-3">
    <%= select_tag :qt, options_for_select([
        [t('txt.views.search_results.contains'), 'contains'],
        [t('txt.views.search_results.exact'), 'exact'],
        [t('txt.views.search_results.ends_with'), 'ends_with'],
        [t('txt.views.search_results.begins_with'), 'begins_with']
      ], params[:qt]), :class => 'form-control' %>
  </div>
</div>
