<div class="form-group">
  <%= label_tag nil, t('txt.views.search_results.note'), :class => 'col-sm-2 col-form-label' %>
  <div class="col-sm-4">
    <%= text_field_tag :note, params[:note], :class => 'form-control' %>
  </div>
</div>
