<div class="form-group result_type_filter">
  <div class="form-check form-check-inline">
    <label for="include_expired" class="form-check-label">
      <%= check_box_tag :include_expired, true, params[:include_expired] == true, class: 'form-check-input' %>
      <%= t('txt.views.search_results.expired') %>
    </label>
  </div>
</div>
