<div class="form-group has-feedback">
  <%= label_tag 'q', t('txt.views.search_results.search_term'), :class => 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <% if Iqvoc.searchable_classes.detect {|c| c.supports_multi_query? } %>
      <%= text_area_tag :q, params[:query], :class => 'form-control' %>
    <% else %>
      <%= text_field_tag :q, params[:query], :class => 'form-control' %>
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
