<div class="form-group row no-gutters align-items-center bg-white search-input">
  <div class="col-auto">
    <i class="fa fa-search fa-lg"></i>
  </div>
  <div class="col">
    <%= search_field_tag :q, params[:query],
                         class: 'form-control form-control-lg form-control-borderless border-0',
                         placeholder: t('txt.views.search_results.search_term'),
                         autofocus: true,
                         autocomplete: 'off' %>
  </div>
  <div class="col-auto">
    <%= submit_tag t('txt.views.search_results.submit'), class: 'btn btn-block btn-lg btn-primary p-2' %>
  </div>
</div>
