.git/
.gitmodules
.gitignore
.ruby-version
.dockerignore
.DS_Store

/log
/tmp/*
public/assets
public/export
public/uploads

# prevent leaking secrets
config/database.yml
README.md

doc/

.idea
*.iml
docker-compose.yml
node_modules
.env
*.gem

