.bundle
.rbenv-version
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
tmp/*
.svn
.DS_Store
nbproject
rerun.txt
config/database.yml
public/stylesheets/vendor
public/javascripts/vendor
public/images/vendor
public/fonts/vendor
.capistrano_history.yml
*.war
vendor/gems/*.gem
*.gem
config/deploy.rb
config/deploy
config/initializers/secret_token.rb
