.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
.svn
.DS_Store
nbproject
rerun.txt
config/database.yml
public/stylesheets/vendor
public/javascripts/vendor
public/images/vendor
public/fonts/vendor
.capistrano_history.yml
*.war
vendor/gems/*.gem
Gemfile
Gemfile.lock
