.bundle
.rbenv-version
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
tmp/*
.svn
.DS_Store
nbproject
rerun.txt
config/database.yml
config/blazing.rb
.capistrano_history.yml
*.war
vendor/gems/*.gem
*.gem
config/deploy.rb
config/deploy
config/initializers/secret_token.rb
public/assets
.idea/
db/schema.rb
public/export
public/uploads
coverage/*
