<%= form_tag(search_path, :method => :get, :class => 'form-horizontal', :id => 'search', :role => 'form') do |f| %>
  <% Iqvoc.search_sections.each do |section| %>
    <%= render "search_results/sections/#{section}" %>
  <% end %>

  <hr />
  <div class="well">
    <%= submit_tag t('txt.views.search_results.submit'), :class => 'btn btn-primary' %>
  </div>
<% end %>
