<h4><%= t("txt.views.labels.template_form") %></h4>
<div class="relation">
  <%=  label.value %>
</div>

<h4><%= t("txt.views.labels.language") %></h4>
<div class="relation">
  <%= label.language %>
</div>
