<div class="row">
  <div class="span9">
    <%= page_header :title => t('txt.views.users.new.header') %>
    <%= render 'form', :user => @user %>
  </div>
  <div class="span3">
    <div class="well sidebar">
      <ul class="nav nav-list">
        <li class="nav-header">Links</li>
        <%= sidebar_item icon(:'th-list'), User.model_name.human(:count => 5), users_path, params[:action] == 'index' %>
        <%= sidebar_item icon(:user), t('txt.views.users.new_link'), new_user_path, params[:action] == 'new' %>
      </ul>
    </div>
  </div>
</div>
