.indicator {
  .fa {
    visibility: hidden;
  }

  &.active .fa {
    visibility: visible;
  }
}

tr.highlightable {
  //cursor: pointer;
}

.alert {
  p {
    margin: 0 0 10px 0;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

.sorting-controls {
  margin-left: 5px;
  > * {
    margin-right: 2px;
    color: inherit;
  }
}

.arrow_down {
  margin-top: 3px;
}

.arrow_up {
  margin-top: 2px;
}

.dashboard-activated-follow-up-column {
  color: red;
}

.letter-selector {
  $active: white;
  margin: 0;
  li {
    a {
      color: #bfbfbf;
    }
    border-radius: 4px;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 6px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $active;
    }
  }
}

.translation {
  margin-bottom: 15px;
}

.nav-list {
  li {
    a {
      &.inline-language-selector {
        display: inline;
        margin: inherit;
        padding: inherit;
        &:hover {
          background: inherit;
        }
      }
    }
  }
}

.concept-items {
  .concept-item {
    margin-bottom: 15px;
    p {
      margin: 0;
    }
    .concept-item-link {
      @extend %font-bold;
    }
    .concept-item-uri {
      color: green;
    }
  }
}

.lang-widget {
  padding-top: 5px;
  padding-bottom: 5px;

  .lang-widget-item {
    white-space: nowrap;
    padding: 0rem 1rem;

    &:hover,
    &:hover label a,
    label a:hover {
      color: #333333;
      background-color: #EDEDED;
    }

    label {
      margin: 0;

      input {
        margin-top: -2px;
        margin-right: 0.5em;
        display: inline;
      }

      a {
        padding-left: 0;
        display: inline;
      }
    }
  }

  .lang-widget-header {
    padding: 0.25rem 1rem;

    h2 {
      font-size: 18px;
    }
  }
}

.user-widget {
  padding-top: 5px;
  padding-bottom: 5px;

  .user-widget-header {
    padding-left: 20px;

    .fullname {
      font-size: 18px;
    }

    .email {
      color: $gray-600;
    }
  }
}

.search-result {
  margin-top: 10px;
  a {
    @extend %font-bold;
  }
}

.search-result-meta {
  margin-top: 0;
}

.search-result-key {
  float: left;
  margin-right: 5px;
  &:after {
    content: ':';
  }
}

.search-result-link {}

.search-result-uri {
  display: block;
  color: green;
}

.search-result-value {}

.search-result-body {
  margin-top: 5px;
}

.concept-mapper {
  display: flex;
  margin: 25px 0;
  > * { margin-right: 10px; }

  .input-group {
      width: inherit;
      vertical-align: middle;

      .input-group-btn,
      .form-control {
          width: auto !important;
      }
  }

  .form-control {
    width: auto;
    display: inline-block;
  }
}

.concept-mapper-indicator {
  position: absolute;
  margin: 8px 0 0 -30px;
}

.concept-mappings {
  margin-left: 0;
  padding-left: 0;
}

.concept-mapping {
  %padded { padding: 7px 10px; }

  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 0;

  border-radius: $border-radius-default;
  background-color: $widget-background-color-dark;

  .concept-mapping-link {
    @extend %padded;
    background-color: $widget-highlight-color;
    color: $widget-highlight-background-color;
  }

  .concept-mapping-dataset, .concept-mapping-match-type {
    @extend %padded;
    color: $muted-color;
  }

  .concept-mapping-dataset {
    @extend %padded;
    background-color: $widget-border-color-dark;
  }

  .concept-mapping-match-type {
    @extend %padded;
    font-style: italic;
  }

  .concept-mapping-remove {
    padding-right: 10px;
    cursor: pointer;
    color: $muted-color;
  }
}

a.unpublished {
  color: #bfbfbf;
}

.dashboard-table-item-state {
  text-transform: uppercase;
}

.editing_versioning_toolbar {
  background-color: $widget-background-color-dark;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  padding: 1.2rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
