.concept_section {
	font-size: 14px;
	margin-bottom: 0.5em;
}

.concept_section h4 {
	font-size: 16px;
	margin-top: 24px;
}
.concept_section {
	clear:both;
}
.relation, .note {
	margin-top: 24px;
}

.inline {
	display: inline;
}

.empty {
	color: #999;
}
.hierarchy{
	border: 1px solid #eee;
	height:200px;
}
body {
	margin-bottom:100px;
}
.concept-mappings {
	overflow:hidden;
}