.concept-teaser-header {
  h1 {
    font-size: $h3-font-size;
  }
}

.concept-teaser-body {
  padding-top: 0;

  h2 {
    font-size: $h4-font-size;
  }

  p {
    margin-top: 0;
  }

  .alert {
    margin-top: $line-height-base;
  }
}
