.language_flap {
  background-color: $gray-600;
  color: $white;
  float: left;
  font-size: 0.8rem;
  height: 24px;
  padding: 3px 8px;
  text-transform: uppercase;
  width: 32px;
}

.note_content {
  overflow: auto;
  padding: 1px 12px;

  p {
    margin: 0 0 10px 0;
  }
}

dl.note_annotations {
  @extend .row;

  margin: 0;

  dt {
    @extend %font-bold;
    @extend .col-2;
    padding-left: 0;
  }
  dd {
    @extend .col-10;
    margin-bottom: 0;
  }
}

.inline_note {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}
