.onebox {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin-top: 2em;
  background: asset-url("iqvoc_logo.svg") top center no-repeat;

  .logo {
    margin: 2em 0 1em 0;
  }

  .onebox-form {
  }

  .onebox-input-wrapper {
    width: 100%;
  }
}
