.panel {
  min-height: 20px;
  padding: 32px 0;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid $widget-border-color-dark;

  h1, h2, h3, h4, h5, .panel-header {
    margin-bottom: 18px;

    &.centered {
      text-align: center;
    }
  }

  h2 {
    @extend %font-bold;
    font-size: 18px;
    small {
      font-size: 14px;
    }
  }

  div:last-child {
    margin-bottom: 0;
  }
}
