<div class="relation">
  <h4><%= klass.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <%- if concept.collections.any? -%>
      <ul>
        <%- concept.collections.each do |collection| -%>
          <li><%= link_to collection.label.to_s, collection_path(:id => collection) %></li>
        <%- end -%>
      </ul>
    <%- else -%>
      -
    <%- end -%>
  </div>
</div>
