<div class="relation" id="<%= klass.model_name.to_s.to_relation_name %>">
  <h4 class='inline'><%= klass.model_name.human(:count => 2) %>: </h4>
  <span class="relation-body">
		<% if concept.related_concepts_for_relation_class(klass, params[:published] != "0").any? %>
    <%=	concept.related_concepts_for_relation_class(klass, params[:published] != "0").map { |c| link_to(c.pref_label, concept_path(:id => c)) }.join(', ').html_safe %>
		<%else%>
			<span class='empty'><%= t('txt.common.value.empty')%></span>
		<%end%>
  </span>
</div>
