<li>
  <%= label_tag klass.name.to_relation_name,
    klass.model_name.human(:count => klass.singular? ? 1 : 2) %>
  <%= text_field_tag "concept[concept_relations_by_id][#{klass.name.to_relation_name}]",
    concept.concept_relations_by_id(klass.name.to_relation_name),
    :id => klass.name.to_relation_name,
    :class => "entity_select",
    :"data-query-url" => concepts_path(:format => :json,
        :exclude_top_terms => klass != Iqvoc::Concept.broader_relation_class || nil),
    :"data-entity-uri" => concept_path("{id}"),
    :"data-singular" => klass.singular? || nil,
    :"data-entities" => Iqvoc::Concept.base_class.editor_selectable.
    by_origin(concept.concept_relations_by_id(klass.name.to_relation_name).
      split(Iqvoc::InlineDataHelper::Splitter)).
    map { |c| concept_widget_data(c) }.to_json %>
</li>
