<li>
  <%= label_tag klass.name.to_relation_name, klass.model_name.human %>
  <%= text_field_tag "concept[inline_#{klass.name.to_relation_name}]", concept.send(klass.name.to_relation_name).map{|r| r.target.origin}.join(','),
    :id => klass.name.to_relation_name,
    :class => "token_input_widget",
    :"data-query-url" => concepts_path(:lang => I18n.locale, :format => :json),
    :"data-options" => {:prePopulate => concept.send(klass.name.to_relation_name).map{|r| concept_widget_data(r.target)}}.to_json  %>
</li>