<li>
  <%= label_tag klass.name.to_relation_name, klass.model_name.human %>
  <%= text_field_tag "concept[inline_#{klass.name.to_relation_name}]", concept.send("inline_#{klass.name.to_relation_name}"),
    :id => klass.name.to_relation_name,
    :class => "token_input_widget",
    :"data-query-url" => concepts_path(:lang => I18n.locale, :format => :json),
    :"data-options" => {:prePopulate => Concept::Base.editor_selectable.by_origin(concept.send("inline_#{klass.name.to_relation_name}")).map{|c| concept_widget_data(c)}}.to_json  %>
</li>