<li>
  <%= label_tag klass.name.to_relation_name,
    klass.model_name.human(:count => klass.singular? ? 1 : 2) %>
  <%= text_field_tag "concept[concept_relations_by_id][#{klass.name.to_relation_name}]", widget_values_ranked(concept, klass),
    :id => klass.name.to_relation_name,
    :class => "entity_select",
    :"data-query-url" => concepts_path(:format => :json,
    :exclude_top_terms => klass != Iqvoc::Concept.broader_relation_class || nil),
    :"data-entity-uri" => concept_path("{id}"),
    :"data-singular" => klass.singular? || nil,
    :"data-entities" => widget_entities_ranked(concept, klass) %>
</li>
