<li>
  <%= label_tag klass.name.to_relation_name, klass.model_name.human %>
  <%= text_field_tag "concept[concept_relations_by_id][#{klass.name.to_relation_name}]", concept.concept_relations_by_id(klass.name.to_relation_name),
    :id => klass.name.to_relation_name,
    :class => "token_input_widget",
    :"data-query-url" => concepts_path(:format => :json),
    :"data-options" => {
      :prePopulate => Concept::Base.editor_selectable.by_origin(
          concept.concept_relations_by_id(klass.name.to_relation_name).
              split(/[,\n] */)).
              map{ |c| concept_widget_data(c)} }.to_json %>
</li>
