<div class="relation panel" id="<%= klass.model_name.to_s.to_relation_name %>">
  <h2><%= klass.model_name.human(:count => 2) %></h2>
  <div class="relation-body">
    <%-
      items = klass.where(:target_id => concept.id).includes(:target).order("rank DESC")
      items = items.merge(Iqvoc::Concept.base_class.published).references(:concepts) if params[:published] != "0"
    -%>
    <%= item_listing(items) do |rel|
      link_to("#{rel.owner.pref_label} (#{rel.rank})", concept_path(:lang => rel.owner.pref_label.language, :id => rel.owner))
    end %>
  </div>
</div>
