<h1>Version</h1>

<dl class="dl-horizontal">
  <dt>iQvoc version:</dt>
  <dd><%= Iqvoc::VERSION %></dd>

  <dt>iQvoc revision</dt>
  <% if File.exists?(Rails.root.join('headrev.txt')) %>
    <dd><%= File.read(Rails.root.join('headrev.txt')) %></dd>
  <% else %>
    <dd>-</dd>
  <% end %>

  <% if Iqvoc.host_version %>
  <dt>iQvoc version:</dt>
  <dd><%= "#{Iqvoc.host_namespace} #{Iqvoc.host_version}" %></dd>
  <% end %>

  <dt>RAILS_ENV:</dt>
  <dd><%= Rails.env %></dd>
</dl>
