<div class="relation match">
  <h4><%= klass.model_name.human(:count => 2) %></h4>
  <div class="relation-body">foo
	<% if concept.matches_for_class(klass).any? %>
    <%= item_listing(concept.matches_for_class(klass)) do |match|
      auto_link(match.value, :html => { :target => '_blank' }) do |text|
        Iqvoc::rdf_namespaces.each do |prefix, url|
          text = text.gsub(url, "#{prefix}:")
        end
        text
      end.html_safe
    end %>
	<%else%>
		<span class='empty'><%= t('txt.common.value.empty')%></span>
	<%end%>
  </div>
</div>
