<% if concept.matches_for_class(klass).any? %>
	<% concept.matches_for_class(klass).each_with_index do |match, index| %>
	<tr>
		<%if index == 0%>
		<td rowspan='<%= concept.matches_for_class(klass).size%>'><%= klass.model_name.human(:count => 1) %></td>
		<%end%>
		<td><span class='empty'>keine Angabe</span></td>
		<td><%= auto_link(match.value, :html => { :target => '_blank' }) do |text| 
      Iqvoc::rdf_namespaces.each {|prefix, url| text = text.gsub(url, "#{prefix}:") } 
      text
    end.html_safe %></td>
	</tr>
   <% end %>
<% end %>

