<div class="relation">
  <h4><%= klass.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <%= raw association_listing(concept.matches_for_class(klass)) { |match|
          match_url match.value
        }
    %>
  </div>
</div>
