<%- fieldname = "concept[inline_#{assoc_klass.name.to_relation_name}]" -%>

<div class="form-group">
  <label class="col-sm-2 col-form-label" for="<%= fieldname %>"><%= assoc_klass.model_name.human(:count => 2) %></label>
  <div class="col-sm-10">
  <%= text_area_tag fieldname, owner_klass.send("inline_#{assoc_klass.name.to_relation_name}"),
        :class => "form-control",
        :rows => 4 %>
  </div>
</div>
