/* ##################################### */
/* # Customizable in your engine's CSS # */
/* ##################################### */
#header {
  background: url('../../images/iqvoc/header_long.png') no-repeat;
  height: 85px;
  padding: 9px 1em 1em 135px;
  position: relative;
}

ul#navi_main {
  top: 85px;
  position: absolute;
  margin: 0;
  padding: 0;
}

ul#navi_main li.active a {
  color: #000;
}

ul#navi_main li a {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #308110;
}

a:hover {
  text-decoration: underline;
  color: #308110;
}

a.unpublished {
  color: #808110;
}

div.letter_selector   { margin-bottom: 20px; }
div.letter_selector a { border: 1px solid #318210; background-color: #C0FAB4; padding: 2px 5px 2px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
div.letter_selector a.current { background-color: #FEFBDC; border-color: #F3AC40; }

div.pagination a { border: 1px solid #318210; background-color: #C0FAB4; padding: 2px 5px 2px 5px; margin-right: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
div.pagination span { border: 1px solid #318210; background-color: #C0FAB4; padding: 2px 5px 2px 5px; margin-right: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
div.pagination span.disabled { background-color: transparent; border-color: silver; color: silver; }
div.pagination span.current { background-color: #FEFBDC; border-color: #F3AC40; }

/* ######################################## */
/* # Core CSS. Customizing is discouraged # */
/* ######################################## */

#controls {
  border-bottom: 2px solid #AAA;
  padding: 2px 5px;
  text-align: right;
  background-color: #000;
}

#controls,
#controls a {
  height: 1.1em;
  overflow: hidden;
  line-height: 1.1em;
}

#controls * {
  z-index: 99; /* work around overly wide header */
}

#controls,
#controls a {
  padding-bottom: 3px;
}

#controls a.button {
  color: #EEE;
}

#controls ul {
  border: 1px solid #AAA;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  padding: 5px;
}

#controls ul {
  text-align: left;
}

#controls h3 {
  margin: 0.2em 0;
  font-size: 1.1em;
  font-weight: bold;
}

#auth_controls ul,
#auth_controls li {
  width: auto;
}

#auth_controls:hover ul,
#auth_controls.hover ul {
  right: 5px;
}

.menu,
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li,
.menu a,
.menu li ul {
  width: 10em;
}

.menu a {
  display: block;
  text-decoration: none;
}

.menu li {
  float: right;
}

.menu li ul {
  position: absolute;
  left: -999em;
  background-color: #EEE;
}

.menu li:hover ul,
.menu li.hover ul {
  left: auto;
  right: auto;
}

ul#navi_main li {
  list-style-type: none;
  display: inline;
  margin-right: 1.0em;
  padding: 0;
}

#navi_sub ul {
  padding: 0;
}

#navi_sub ul li {
  list-style-type: none;
  display: inline;
  margin-right: 1.0em;
  padding: 0;
}

#footer {
  background: url('../../images/iqvoc/footer.png') no-repeat top right;
  height: 43px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #000;
}

.button {
  outline: 0;
}

.hidden {
  display: none;
}

.flash_notice {
  border: 1px solid #318210;
  background-color: #C0FAB4;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.flash_error {
  border: 1px solid #A91B1B;
  background-color: #F5C2C2;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.error_list {
  list-style-type: none;
}

#format_link_ttl {
  display: block;
  background: url('http://www.w3.org/RDF/icons/rdf_flyer.24') no-repeat;
  padding: 4px 0 2px 25px;
  margin-bottom: 20px;
}

div.editing_versioning_toolbar {
  margin-bottom: 20px;
  border: 1px solid #F3AC40;
  background-color: #FEFBDC;
  padding: 6px 0 10px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.editing_versioning_toolbar form div {
  display: inline;
}

div.editing_versioning_toolbar form {
  display: inline;
}

div.relation {
  margin-bottom: 20px;
}

tr.hover {
  cursor: pointer;
  background-color: #C0FAB4;
}

.note_language {
  color: grey;
  font-size: 75%;
}

.valid { color: #318210; }
.invalid { color: #A91B1B; }

div.sorting_arrows { display: inline; margin-left: 3px; }
div.sorting_arrows a img.arrow_down { vertical-align: -5px; }
div.sorting_arrows a img.arrow_up { vertical-align: -4px; }

dl#search_results dt { margin-top: 15px; }

select#c { width: 300px; }

#footer_box { position: relative; }
#w3c_link {
  position: absolute;
  top:-5px;
  left:770px;
  width: 180px;
  height: 30px;
}
