<li class="search-result">
  <% result.annotations.each do |annotation| %>
    <%= link_to_object(result.owner, "#{annotation.predicate}: #{annotation.value}" %><br/>
  <% end %>
  <dl class="search-result-meta">
    <dt class="search-result-key"><%= t('txt.views.search_results.type') %></dt>
    <dd class="search-result-value"><%= result.class.model_name.human %></dd>
  </dl>
</li>
