body {
  background-color: #fff;
}

.container {
  background-image: url("../images/5b.png");
  background-repeat: no-repeat;
  background-position: top right;
}

header.main {
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 0;
}

header.main h1 {
  text-indent: -9999px;
  white-space: nowrap;
  background: url("../images/iqvoc_logo.png");
  background-repeat: no-repeat;
  background-size: 254px 100px; /* scale down 2x image to 1x */
  width: 254px;
  height: 100px;
  margin-bottom: 10px;
}

header.main h1, p {
  margin-right: 0;
}

section {
  padding-bottom: 20px;
}

footer {
  text-indent: -5px;
}

footer img {
  height: 40px;
}