<div class="onebox">
  <%= form_tag alphabetical_concepts_path(:prefix => nil), :method => :get do %>
    <%= search_field_tag "prefix", nil, :id => nil,
            :class => "onebox-input",
            :autofocus => true,
            :placeholder => t("txt.views.frontpage.type_to_browse") %>
  <% end %>
</div>
