<%= render 'title' %>
<div class="onebox">
  <%= form_tag search_path(:q => nil), :method => :get, :class => "onebox-form" do %>
    <div class="onebox-input-wrapper">
      <%= search_field_tag "q", nil, :id => nil,
        :class => "form-control onebox-input",
        :autofocus => true,
        :placeholder => t("txt.views.frontpage.type_to_browse") %>
  </div>
<% end %>
</div>
