<%= page_header :title => Iqvoc::Concept.base_class.model_name.human(:count => 2),
  :desc => t('txt.views.navigation.hierarchical') %>
<%= render 'concepts/sidebars/plural' %>

<% if params[:published] == '0' %>
  <%= treeview @concepts, false, true %>
<% else %>
  <%= treeview @concepts %>
<% end %>

<div class="modal fade" id="concept-teaser-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
