<div class="relation">
  <h4><%= Iqvoc::Concept.broader_relation_class.narrower_class.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <% if concept.related_concepts_for_relation_class(Iqvoc::Concept.broader_relation_class.narrower_class).length > 0 %>
      <div class="selector">
        <%-
          concepts = concept.narrower_relations.map do |relation|
            Concept::Base.find(relation.target_id) # XXX: use of Concept::Base correct?
          end
        -%>
        <%= treeview(concepts, concept.id) %>
      </div>
    <% else %>
      <p><%= t('txt.views.concepts.missing.narrower') %></p>
    <% end %>
  </div>
</div>
