<div class="relation">
  <h2><%= Iqvoc::Concept.broader_relation_class.narrower_class.model_name.human(:count => 2) %></h2>
  <div class="relation-body block">
    <% if concept.narrower_relations.any? %>
      <div class="selector">
        <%= treeview(concept.narrower_relations.map(&:target)) %>
      </div>
    <% else %>
      <p>-</p>
    <% end %>
  </div>
</div>
