<div class="relation">
  <h3><%= t('txt.views.concepts.narrower') %></h3>
  <% if concept.narrower.length > 0 %>
    <div class="selector">
      <%= treeview concept.id %>
    </div>
  <% else %>
    <p><%= t('txt.views.concepts.missing.narrower') %></p>
  <% end %>
</div>