<div id="infovis"></div>

<%= content_for :scripts do %>
    <!--[if IE]>
    <%= javascript_include_tag "iqvoc/excanvas.js" %>
    <![endif]-->
    <%= javascript_include_tag "iqvoc/jit_rgraph.js" %>
    <%= javascript_include_tag "iqvoc/visualization.js" %>
<% end %>
