<h2><%= t("txt.controllers.triplestore_sync.caption") %></h2>

<%= form_tag triplestore_sync_path(:format => nil, :lang => nil), :method => :post do %>
  <%= submit_tag t("txt.controllers.triplestore_sync.start") %>
<% end %>
