<h2><%= t("txt.views.labelings.new.header") %></h2>

<%= form_for @labeling, :url => labeling_path(:lang => @active_language), :html => {:class => "form"} do |f| %>
  <%= render :partial => "form" %>
<% end %>

<% content_for :sub_navigation do %>
  <ul>
    <li>
      <%= back_link edit_versioned_label_path(:id => @labeling.target, :lang => @active_language), t('txt.views.navigation.back_to_edit_versioned_object') %>
    </li>
  </ul>
<% end %>