<h1>About iQvoc</h1>

<p>iQvoc is a vocabulary management tool that combines easy-to-use human interfaces
  with Semantic Web interoperability.</p>
<p> iQvoc supports vocabularies that are common to many knowledge organisation
  systems, such as: </p>
<ul>
  <li>Thesauri</li>
  <li>Taxonomies</li>
  <li>Classification schemes</li>
  <li>Subject heading systems </li>
</ul>
<p>iQvoc provides comprehensive functionality for all aspects of managing such
  vocabularies: </p>
<ul>
  <li><a href="#import">import of existing vocabularies from a SKOS representation</a></li>
  <li><a href="#web">multilingual display and navigation in any Web browser</a></li>
  <li><a href="#edit">editorial features for registered users</a></li>
  <li><a href="#web">publishing the vocabulary in the Semantic Web</a></li>
</ul>
<p> iQvoc is built with <a href="#ruby">state-of-the-art technology</a> and can
  be easily customized according to user's needs. </p>
<p>iQvoc 1.0 has been published with a <a href="#gemet">demonstration</a> of its
  features using the General Environmental Multilingual Thesaurus (GEMET). Please
  be aware this is not the official GEMET reference but only a demo.</p>
<h2><a name="import"></a>Import of existing vocabularies from a SKOS representation
</h2>
<p>Existing vocabularies can be imported if they are available in the SKOS format.
  If there is no such representation, the iQvoc support team can provide help
  or even do this conversion for you from any kind of available source. If the
  vocabulary contains extensions by class inheritance, iQvoc can be configured
  to support this with little effort. </p>
<h2><a name="web"></a>Multilingual display and navigation in any Web browser </h2>
<p>Once imported, any vocabulary is ready to be displayed and navigated in an
  intuitive Web interface. iQvoc supports various customisable skins to align
  with any kind of user-specific style guide. The iQvoc Web interface provides
  unrestricted multilingualism and conforms to the guidelines of the Web Accessibility
  Initiative (WAI). </p>
<h2><a name="edit"></a>Editorial features for registered users </h2>
<p>The general vocabulary administrator may authorize registered users as vocabulary
  editors. Editing is performed in an extension of the original Web interface,
  so the editorial staff can be globally distributed and there is no need for
  any kind of additional tooling. More sophisticated editorial features are planned
  for version 2, including a fine grained work flow and life cycle management.
</p>
<h2><a name="sw"></a>Publishing the vocabulary in the Semantic Web </h2>
<p>iQvoc provides unique and stable identifiers for each concept according to
  W3C guide lines "<a href="http://www.w3.org/TR/cooluris/">Cool URIs for the
  Semantic Web</a>" and "<a href="http://sites.wiwiss.fu-berlin.de/suhl/bizer/pub/LinkedDataTutorial/">How
  to publish Linked Data on the Web</a>&quot;. There is one URL that represents
  the abstract concept plus redirections to HTML and RDF &quot;information resources&quot;,
  corresponding to the &quot;accept&quot; settings of the request. This allows,
  for example, integrating the vocabulary with the <a href="http://esw.w3.org/topic/SweoIG/TaskForces/CommunityProjects/LinkingOpenData">Linking
  Open Data</a> community project or any other conforming knowledge base. Likewise
  the vocabulary can be referenced in <a href="http://www.w3.org/2002/ws/sawsdl/">Semantic
  Annotations for WSDL</a> in order to facilitate a semantically enabled service
  oriented architecture (SOA). There is a strong emphasis on developing automated
  semantic matching and annotation methods in the next versions of iQvoc.</p>
<p>iQvoc offers a free configuration of URI design in order to provide persistent
  and sustainable URI references whenever any productive vocabulary is migrated
  to the iQvoc engine.</p>
<h2><a name="skos"></a>iQvoc and the Simple Knowledge Organisation System (SKOS)</h2>
<p>The <a href="http://www.w3.org/2004/02/skos/">Simple Knowledge Organisation
  System</a> (SKOS) effort is &quot;developing specifications and standards to
  support the use of knowledge Organization systems (KOS) such as thesauri, classification
  schemes, subject heading systems and taxonomies within the framework of the
  Semantic Web&quot; since 2004. iQvoc 1.0 implements the <a href="http://www.w3.org/2004/02/skos/core#">http://www.w3.org/2004/02/skos/core#</a>
  namespace, which still is referenced by most SKOS applications. iQvoc developers
  are contributing to the discussion of the upcoming <a href="http://www.w3.org/2008/05/skos#">http://www.w3.org/2008/05/skos#</a>
  namespace, which currently is in W3C Working Draft status. Future versions of
  iQvoc will support both namespaces.</p>
<h2> <a name="ruby"></a>iQvoc state-of-the-art technology </h2>
<p>iQvoc is implemented based on the <a href="http://www.rubyonrails.org/">Ruby
  on Rails</a> open-source Web framework which allows increased productivity combined
  with unlimited interoperability of the product. iQvoc can be run with almost
  any Web server and database management system. If there is a preference for
  a Java environment, Java byte code is available as well.</p>
<h2><a name="gemet"></a>The GEMET demo</h2>
<p>The <a href="http://www.eionet.europa.eu/gemet">General Environmental Multilingual
  Thesaurus</a> (GEMET) has been developed by the European Environmental Agency
  and has been one of the major use cases of the <a href="#skos">SKOS</a> standardisation
  efforts in 2004. GEMET is a &quot;classical&quot; thesaurus with some extensions
  (supergroups, groups, themes). It currently covers 22 European languages using
  a symmetric multilingualism (each concept has names in every language). Please
  be aware that this demo is not an official GEMET reference, so the concept URIs
  currently supported by iQvoc should not be referenced by any productive application.</p>
  <p>In order to prvent such references the <a href="http://apps.innoq.com/iqvoc/demo/gemet/1.0/">iQvoc GEMET demo</a> requires username/password. Simply use user "demo@iqvoc" with password "cooluri" for browsing the demo.</p>
  <p>Contact: <a href="mailto:thomas.bandholtz@innoq.com">thomas.bandholtz@innoq.com</a></p>

