<li>
  <%= link_to pref_labeling.target.to_s, concept_path(:id => pref_labeling.owner), :alt => pref_labeling.owner.origin %>
  <%- if pref_labeling.owner.additional_info.present? -%>
    (<%= pref_labeling.owner.additional_info %>)
  <%- end -%>
</li>