<div class="relation">
  <h4><%= Iqvoc::Concept.broader_relation_class.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <% if concept.related_concepts_for_relation_class(Iqvoc::Concept.broader_relation_class).length > 0 %>
      <div class="selector">
        <% parent = concept.related_concepts_for_relation_class(Iqvoc::Concept.broader_relation_class).first
        parents = []
        while (parent && !parents.include?(parent))
          parents << parent
          parent = parent.related_concepts_for_relation_class(Iqvoc::Concept.broader_relation_class).first
        end %>
        <%= parents.map { |concept|
          render concept.class.inline_partial_name, :concept => concept
        }.join(" &laquo; ").html_safe %>
      </div>
    <% else %>
      <p>-</p>
    <% end %>
  </div>
</div>
