<div class="relation">
  <h4><%= Iqvoc::Concept.broader_relation_class.model_name.human(:count => 2) %></h4>
  <div class="relation-body block">
    <% if concept.top_term %>
      <strong><%= concept.class.human_attribute_name("top_term") %></strong>
    <% end %>

    <%-
    only_published = params[:published] != "0"
    related_concepts = concept.related_concepts_for_relation_class(
      Iqvoc::Concept.broader_relation_class, only_published)
    -%>

    <% if related_concepts.length > 0 %>
      <div class="selector">
        <% parent = related_concepts.first
        parents = []
        while (parent && !parents.include?(parent))
          parents << parent
          parent = parent.related_concepts_for_relation_class(
            Iqvoc::Concept.broader_relation_class, only_published).first
        end %>
        <%= parents.map { |concept|
          render concept.class.inline_partial_name, :concept => concept
        }.join(" &laquo; ").html_safe %>
      </div>
    <% elsif not concept.top_term %>
      <p>-</p>
    <% end %>
  </div>
</div>
