<div class="relation">
  <h2><%= Iqvoc::Concept.broader_relation_class.model_name.human(:count => 2) %></h2>
  <div class="relation-body block">
    <% if concept.related_concepts_for_relation_class(
        Iqvoc::Concept.broader_relation_class, params[:published] != "0").
        length > 0 %>
      <div class="selector">
        <%= treeview(@concept.broader_relations.map { |rel| rel.target }, true) %>
      </div>
    <% else %>
      <p>-</p>
    <% end %>
  </div>
</div>
