<div class="relation">
  <h4><%= Iqvoc::Concept.broader_relation_class.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <% if concept.related_concepts_for_relation_class(Iqvoc::Concept.broader_relation_class).length > 0 %>
      <div class="selector">
        <%= treeview(@concept.broader_relations.map { |rel| rel.target }) %>
      </div>
    <% else %>
      <p><%= t('txt.views.concepts.missing.broader') %></p>
    <% end %>
  </div>
</div>
