<div class="<%= html_classes((class_name rescue nil)) %> note">
  <%# Provide support for iqvoc_skosxl %>
  <% object = if defined?(concept)
                concept
              elsif defined?(label)
                label
              end %>
  <% notes = object.notes_for_class(klass) %>
  <h4><%= klass.model_name.human(:count => notes.count) %></h4>
  <div class="relation-body">
    <%= render :partial => 'partials/note/note', :collection => notes %>
  </div>
</div>
