<% note = concept.note_for_class(klass) %>
<h3><%= t("txt.partials.note.#{klass.name.to_relation_name}") %></h3>
<div class="relation-body">
  <span><%= note ? linkify(note) : t("txt.partials.note.missing") %></span>
</div>