<% unless note.new_record? %>
  <%= note.language %> <%= linkify note.value %>
  <ul>
    <% note.annotations.each do |annotation| %>
      <li><%= linkify "#{annotation.identifier} #{annotation.value}" %></li>
    <% end %>
  </ul>
<% end %>
