<% unless note.new_record? %>
  <div class="note_language <%= note.language %>"><%= "(#{note.language ? note.language : '-'})" %></div>
  <span><%= linkify(note.value) %></span>
  <ul>
    <% note.annotations.each do |annotation| %>
      <li><%= linkify "#{annotation.identifier} #{annotation.value}" %></li>
    <% end %>
  </ul>
<% end %>
