<div class="relation">
  <span class='concept_label'><%= klass.model_name.human(:count => 2) %>:</span>
   <%= concept.notations_for_class(klass).map { |notation| link_to notation.value, notation.data_type }.join(', ').html_safe %>
</div>
