<div class="relation">
  <h4><%= klass.model_name.human(:count => 2) %></h4>
  <div class="relation-body">
    <%= item_listing(concept.notations_for_class(klass)) do |notation|
      link_to notation.value, notation.data_type
    end %>
  </div>
</div>
