<div class="lang-widget">
  <a href="javascript:;" class="button"><%= t("txt.views.lang_widget.caption") %> &#9660;</a>
  <ul class="hidden">
    <% Iqvoc::available_languages.each do |lang| %>
    <li><input type="checkbox" value="<%= lang %>"> <%= t("languages.#{lang}") %></li>
    <% end %>
  </ul>
</div>
