<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <div class="container">
    <%= link_to Iqvoc.config["title"], localized_root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> <%= t('txt.common.menu') %>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%= nav_items Iqvoc.navigation_items %>
      </ul>

      <%= render "layouts/controls" %>
    </div>
  </div>
</nav>
