<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i> <%= t('txt.common.menu') %>
      </button>
      <%= link_to Iqvoc.config["title"], localized_root_path, :class => "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= nav_items Iqvoc.navigation_items %>
      </ul>

      <%= render "layouts/controls" %>
    </div>
  </div>
</div>
