<%- sections.keys.each do |section_key| -%>
  <h2><%= section_key %></h2>
  <%- sections[section_key].keys.sort.each do |sort_key| -%>
    <%= raw sections[section_key][sort_key] %>
  <%- end -%>
<%- end -%>